* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    /* background-color: #3C3B54; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #3C3B54;
    width: 100%;
}

/* sidebar */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #43425D;
    overflow-x: hidden;
    transition: 0.5s;
}
.sidebar-item {
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 13px 40px 13px 13px;
    margin-top: 5px;
}
.sidebar-item:hover {
    background-color: #3C3B54;
}
.sidebar-item p {
    font-size: 15px;
}
.sidebar-item img {
    width: 24px;
    height: 24px;
}
.new {
    display: flex;
    background-color: #FF4A33;
    font-size: 12px;
    padding: 0 5px;
    border-radius: 10px;
    margin-left: 180px;
    position: absolute;
}
.item-selected {
    background: #3C3B54 0% 0% no-repeat padding-box;
}
.side-nav {
    height: 60px;
    background-color: #3C3B54;
    margin-top: 0;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

/* dashboard */
.dashboard {
    height: 100%;
    transition: margin-left .5s;
    z-index: 1;
    overflow: clip;
    background: #F5F7FB 0% 0% no-repeat padding-box;
    border-radius: 20px 0 0 0;
}

/* nav bar */
nav {
    margin-top: 0;
    height: 60px;
    display: flex;
    background-color: white;
    align-items: center;
    padding: 13px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}

.left-nav {
    display: flex;
    align-items: center;
}

.right-nav {
    display: flex;
    margin-left: auto;
    align-items: center;
    margin-right: 17px;
}

.menu-icon{
    margin-left: 5px;
}

.right-nav .drop a {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.search-text {
    font-size: 0.8rem;
    color: #4d4f5cd3;
    font-weight: 350;
}

.search-icon-left {
    margin-left: 10px;
}

.search-icon-right {
    display: none;
}

/* notification */
.notification {
    /* margin-right: 5px; */
}

.notification a {
    position: relative;
    color:#3B86FF;
    cursor: pointer;
}

.notification a img {
    border-radius: 20px;
    padding: 6px;
}

.notification:hover a img {
    background-color: rgba(0, 0, 0, 0.03);
}

.green {
    display: block;
    height: 9px;
    width: 9px;
    /* border: 3px solid #81E37A; */
    background-color: #81E37A;;
    border: 1px solid white;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    left: 17px;
    bottom: 23.5px;
}

.noti-dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1;
    margin-left: -225px;
    padding-top: 11px;
}

.noti-drop-container {
    background-color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
}

.show {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    font-size: 13px;
    display: flex;
    justify-content: center;
}

.show a:hover {
    text-decoration: underline;
}

.noti {
    background-color: white;
    display: flex;
    padding: 10px;
}

.dp {
    margin: 0 10px;
}

.noti-left {
    display: flex;
}

.noti-right {
    color: rgba(0, 0, 0, 0.450);
    font-size: 10px;
    margin-left: 100px;
}

.noti-info {
    display: flex;
}

.person-name {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.650);
}

.task {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.450);
}

/* profile dropdown */
.drop-arrow {
    margin: -1px 7px 0 5px;
    width: 15px;
    height: 15px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1;
    margin-left: -35px;
    padding-top: 10px;
}

.drop-container{
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}

.dropdown-button {
    padding: 0 50px 0 10px;
    display: flex;
    align-items: center;
}

.dropdown-button p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.8rem;
    padding: -50px 0 -50px 0 !important;
}

/* dashboard content */
.dash {
    width: 100%;
    height: 100%;
    padding: 30px;
}

.dash-content {
    height: 100%;
    width: 100%;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -10px 0 0px -15px;
}

.otitle p{
    color: #43425D;
    font-weight: 550;
    font-size: 1.5rem;
}

.pname {
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.8rem;
}

.drop a {
    display: flex;
    color: black;
}

.drop-hover {
    border-radius: 20px;
    padding: 5px;
    padding-left: 10px;
}

.drop:hover .drop-hover {
    background-color: rgba(0, 0, 0, 0.03);
}

.profile-pic{
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

hr {
    margin: 0;
    border: 0.5px solid rgba(0, 0, 0, 0.15);
}

.funds-button a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #6763E3;
    padding-right: 10px;
    border-radius: 7px;
}

.funds-button {
    margin-left: auto;
}

.funds-button .plus-img {
    background-color: #514DDC;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 18px;
}

/* dashboard layout using grid */
.content-layout {
    display: grid;
    flex-wrap: wrap;
    width: 100%;
    font-size: 13px;
    display: flex;
    justify-content: center;
    min-height: 100%;
    padding-top: 20px;
}

main {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(3, 1);
    grid-template-rows: repeat(2, min-content);
    grid-gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
}

.card-1 {
    grid-column: 1/2;
    background-color: #fff;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-2 {
    grid-column: 2/3;
    background-color: #fff;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-3 {
    grid-row: 2/3;
    grid-column: 1/3;
    background-color: #fff;
    margin-top: -105px;
    display: flex;
    padding: 0 20px;
}

.card-4 {
    grid-row: 2/3;
    grid-column: 3/4;
    background-color: #fff;
    height: 275px;
    padding: 0 10px 10px 10px;
    align-items: center;
}

.card-5 {
    grid-row: 1/1;
    grid-column: 3/4;
    background-color: #fff;
    padding: 5px;
}

.card-1 .title{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-bottom: 0;
    z-index: 2;
    margin-bottom: -30px;
}

.card-1 .title p{
    margin:0;
    color: #4d4f5c;
    font-weight: 400;
}

.right-title{
    display: flex;
    margin-left: 100px;
}

.right-title p{
    color: #4D4F5C;
    font-weight: 400;
}

.right-title img {
    margin-left: 7px;
}

.card-2 p{
    color: #4D4F5C;
    z-index: 2;
    margin-bottom: -30px;
    margin-right: auto;
    font-weight: 400;
}

.ptitle{
    display: flex;
    padding:15px;
    justify-content: space-between;
    width: 100%;
}

.ptitle p {
    margin: 0;
    margin-left: 23px;
    color: #4d4f5c;
    font-weight: 400;
}

.ptitle img{
    width: 15px;
    height: 15px;
}

.proimg {
    background-image: url("images/thumbnail@2x.png");
    min-width: 320px;
    min-height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-shadow{
    background-color: rgba(255, 255, 255, 0.4);
    width: 54px;
    height: 54px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-shadow:hover{
    width: 63px;
    height: 63px;
    transition-duration: 0.1s;
}

.play-button {
    background-color: #FFFFFF;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-3 a {
    margin: 15px;
    color: #3B86FF;
}

.card-2 .inside-text {
    position: absolute;
    z-index: 1;
    text-align: center;
}

.card-2 .inside-text p {
    margin: 5px;
    color: rgba(0, 0, 0, 0.6);
}

p {
    margin: 15px;
}

.card-3 p {
    margin-left: 0;
    color: #4d4f5c;
}

.card-3 a:hover{
    text-decoration: underline;
}

.utitle {
    display: flex;
    justify-content: space-between;
}

.utitle p {
    color: rgba(0, 0, 0, 0.600);
    font-size: 12px;
}

/* table */
table {
    border-collapse: collapse;
    width: 100%;
}

td,th {
    text-align: left;
    padding: 12px;
}

td {
    border-bottom: 1px solid #dddddd;
    color: #4d4f5cd2;
    font-size: 12px;
}

tr.title {
    color: rgba(0, 0, 0, 0.3);
    background: #F5F6FA 0% 0% no-repeat padding-box;
}

.profile-info {
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 0;
    position: relative;
}

.profile-info p{
    color: #4D4F5C;
}

.edit {
    background-color: #6763E3;
    border-radius: 100%;
    border: 1px solid white;
    padding: 2px;
    position: relative;
    left: -23px;
    top: -3px;
}

.socialmedia {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
}

.socialmedia img {
    margin: 0 5px;
    opacity: 0.65;
}

.socialmedia img:hover{
    opacity: 1;
}

.utitle img {
    width: 15px;
    height: auto;
    margin-right: 10px;
}

.ourusers {
    border-top: 0.5px solid rgba(0, 0, 0, 0.05);
}

.user {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin-bottom: 15px;
}

.user-left {
    display: flex;
}

.user-right {
    display: block;
    padding-top: 20px;
    color: rgba(0, 0, 0, 0.450);
    font-size: 10px;
}

.user-right-mob{
    display: none !important;
    padding-top: 20px;
    color: rgba(0, 0, 0, 0.450);
    font-size: 10px;
}

.name-location {
    margin-left: 10px;
}

.person-name {
    font-size: 12px;
    color: #4D4F5C;
}

.location {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.450);
}

/* media query 1024 - Laptop View */
@media (max-width: 1024px) {

    main {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, min-content);
        grid-gap: 25px;
    }

    .card-1 {
        order: 2;
        grid-column: 1/3;
    }

    .card-2 {
        order: 3;
        grid-column: 1/3;
        grid-row: 2/3;
        margin-top: -100px;
    }

    .card-3 {
        order: 4;
        grid-column: 1/3;
        grid-row: 3/4;
        margin-top: -75px;
        overflow-x: scroll;
    }

    .card-4 {
        order: 5;
        grid-column: 3/5;
    }

    .card-5 {
        order: 1;
        grid-column: 3/5;
        grid-row: 1/2;
    }
}

/* media query 768 - Tablet View */
@media (max-width: 768px) {
    main {
        margin-top: 20px;
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        grid-template-rows: minmax(auto, auto);
    }

    .search-text {
        display: none;
    }

    .content-layout {
        padding-top: 0;
    }

    .card {
        grid-column: unset !important;
        grid-row: unset !important;
    }

    .card-1 {
        order: 2;
    }

    .card-2 {
        order: 3;
        margin-top: 0px;
    }

    .card-3 {
        order: 4;
        margin-top: 0;
    }

    .card-4 {
        order: 5;
        padding-bottom: 10px;
    }

    .card-5 {
        order: 1;
    }
}

/* media query 452 - Mobile View */
@media (max-width: 425px) {

    html,body {
        max-width: 100%;
        overflow-x: clip;
    }

    main {
        margin-top: 20px;
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        grid-template-rows: minmax(auto, auto);
    }

    .dash {
        padding: 30px 20px;
    }

    .drop-hover {~
        padding:0px;
    }

    .drop:hover .drop-hover {
        background-color: rgba(0, 0, 0, 0);
    }

    .notification:hover a img {
        background-color: rgba(0, 0, 0, 0);
    }

    .notification a {
        margin-right: 10px;
    }

    .right-nav {
        margin-right: 7px;
    }

    .search-icon-left{
        display: none;
    }

    .search-icon-right{
        display: block;
        margin-right: 10px;
    }

    .drop-arrow{
        display: none !important;
    }

    .main {
        grid-gap: 40px;
    }

    .dashboard {
        width: 100%;
        border-radius: 0 !important;
        overflow-x: clip !important;
    }

    .dropdown-menu {
        margin-left: -120px;
        padding-top: 15px;
    }

    .search-text {
        display: none;
    }

    .otitle p {
        font-size: 1.5rem;
        color: #43425D;
    }

    .pname {
        display: none;
    }

    .card {
        grid-column: unset !important;
        grid-row: unset !important;
    }

    .card-1 {
        order: 2;
    }

    .card-2 {
        order: 3;
    }

    .card-3 {
        order: 4;
        margin-top: 0;
    }

    .card-4 {
        order: 5;
    }

    .card-5 {
        order: 1;
    }

    .ptitle p {
        margin-right: auto;
        margin-left: 3px;
    }
    .user-right span {
        display: none;
    }
}